[submodule "ConcertApi"]
	path = ConcertApi
	url = https://github.com/HkHino/ConcertApi.git
	branch = master
[submodule "SoapApi"]
	path = SoapApi
	url = https://github.com/alla2297/SoapApi.git
	branch = removingDockerCompose
[submodule "WebsocketApi"]
	path = WebsocketApi
	url = https://github.com/ACHChristensen/WebsocketAPI_SI_Exam.git
	branch = ACHChristensen-Dockerfile-1