[submodule "RestApi"]
	path = RestApi/ConcertApi
	url = https://github.com/HkHino/ConcertApi.git
	branch = master
[submodule "SoapApi"]
	path = SoapApi
	url = https://github.com/alla2297/SoapApi.git
	branch = removingDockerCompose
[submodule "WebsocketApi"]
	path = WebsocketApi
	url = https://github.com/ACHChristensen/WebsocketAPI_SI_Exam.git
	branch = main
[submodule "GraphQLApi"]
	path = GraphQLApi
	url = https://github.com/LisePetculescu/API-Example-GraphQL.git
[submodule "gRpcApi"]
	path = gRpcApi
	url = https://github.com/ACHChristensen/gRpc_Api.git
[submodule "RestApiV2"]
	path = RestApiV2
	url = https://github.com/HkHino/ConcertApi
	branch = master
